.signin {
    background-color: #0b2250;
    border: 1px solid white;
    border-radius: 5px;
    padding: 25px;
    width: 350px;
    height: 500px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.name {
    position: relative;
    margin: 0px 0px 20px 10px;
    font-family: Quando;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.06em;
}

.email {
    position: relative;
    margin: 0px 0px 20px 10px;
    font-family: Quando;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.06em;
}

.pwd {
    position: relative;
    margin: 0px 0px 20px 10px;
    font-family: Quando;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.06em;
}

input {
    position: relative;
    width: 282px;
    height: 40px;
    font-size: 18px;
    margin: 10px 0px 20px 10px;
    background: #fff3f3;
}

.buttons-div {
    background-color: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 35%;
}

.sign-up-button {
    color: white;
    position: relative;
    width: 150px;
    height: 38px;
    background-color: #011949;
    border: 0px;
    cursor: pointer;
    font-size: 16px;
}

.sign-up-button:hover {
    border: 1px solid white;
    font-size: 18px;
}

.log-in-google-button {
    color: white;
    position: relative;
    width: 300px;
    height: 40px;
    font-size: 16px;
    background-color: #004ef0;
    border-radius: 5px;
    cursor: pointer;
}

.log-in-button {
    color: white;
    position: relative;
    width: 300px;
    height: 38px;
    background-color: #0b2250;
    border: 0px;
    font-size: 20px;
    cursor: pointer;
}

.log-in-button:hover {
    font-size: 21px;
}

.eyeBtn-signin{
  position: relative;
  top: -50px;
  left: 250px;
  font-size: 1.3rem;
}