#name {
    position: relative;
    margin: 0px 0px 20px 10px;
    font-family: Quando;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.06em;
}

#email {
    position: relative;
    margin: 0px 0px 20px 10px;
    font-family: Quando;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.06em;
}

#pwd {
    position: relative;
    margin: 0px 0px 20px 10px;
    font-family: Quando;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.06em;
}

input {
    position: relative;
    width: 282px;
    height: 40px;
    font-size: 18px;
    margin: 10px 0px 20px 10px;
    background: #fff3f3;
}

#log-in-button {
    color: white;
    position: relative;
    width: 150px;
    height: 38px;
    margin: 10px 0px 15px 70px;
    background-color: slateblue;
    border-radius: 5px;
}

#log-in-google-button {
    color: white;
    position: relative;
    width: 150px;
    height: 38px;
    margin: 10px 0px 15px 70px;
    background-color: slateblue;
    border-radius: 5px;
}
#sign-up-button {
    color: white;
    position: relative;
    width: 150px;
    height: 38px;
    margin: 10px 0px 15px 70px;
    background-color: slateblue;
    border-radius: 5px;
}
