#container {
    position: relative;
    color: white;
    background-color: #0a1c3f;
    margin: auto;
    width: 724px;
    height: 431px;
    margin-top: 40px;
    padding: 30px;
}

#catchyPhrase {
    position: relative;
    float: left;
    width: 319px;
    height: 421px;
}

#log-in {
    float: right;
    width: 319px;
    height: 421px;
    /* background: rgba(18, 91, 234, 0.1); */
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
}
