.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 95vw;
    font-family: "Roboto Slab", serif;

    color: white;
    height: 60px;
    background-color: #0b2250;
    border: 0.2px solid white;
}

.option {
    background-color: inherit;
}

.title {
    width: 40%;
    margin-right: 10%;
    letter-spacing: 4px;
    background-color: inherit;
}

.options {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    font-weight: 200;
    color: white;
    background-color: inherit;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

li {
    list-style: none;
    cursor: pointer;
    background-color: inherit;
}

li:hover {
    font-weight: 400;
}

.dropbtn {
    background-color: #0b2250;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
